/MangaScrapper/images/
MangaScrapper/bin
MangaScrapper/obj
MangaPanel/MangaPanel.Client/bin
MangaPanel/MangaPanel.Client/obj
MangaScrapper.Shared/bin
node_modules
package-lock.json
MangaScrapper.Shared/obj
MangaScrapper/temp-keys
.vs
MangaScrapper/appsettings.Development.json
MangaScrapper/secrets/mykomikid-firebase-adminsdk-fbsvc-74f8b57641.json
